<nav class="navbar">
    <a href="/profile">Profile</a>
    <a href="/addresses">Addresses</a>
    <a href="/orders">Orders</a>
    <a href="/changepassword">Change Password</a>
    <li><a href="/wallet"><i class="fas fa-wallet">&nbsp;&nbsp;</i>   Wallet</a></li>
</nav>
