<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="otp-container">
        <form id="otpForm" action="/verify-otp" method="POST">
            <input type="hidden" name="email" value="<%= email %>">
            <h2>Enter OTP</h2>
            <input type="text" name="otp" placeholder="Enter OTP" maxlength="6" required>
            <button type="submit">Verify OTP</button>
        </form>
    </div>
    
</body>
</html>